{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="{% static  'assets/img/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/libs/simplebar/dist/simplebar.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/icons/tabler-icons/tabler-icons.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" style="background: khaki;">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-75">
        <div class="row justify-content-center w-100">
          <div class="col-md-6 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% url 'admin:login' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'assets/img/gallery/logo.png' %}" width="180" alt="">
                </a>
                <p class="text-center">Admin</p>
                <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="Username" placeholder="Username">
                  </div>
                  <div class="mb-4">
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <input type="submit" value="Sign in" class="btn w-100 py-8 fs-4 mb-4 rounded-2 text-white" style="background: #D44E15;">
                  <div class="d-flex align-items-center justify-content-center">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'vendors/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>